<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.uctp.module.system.dal.mysql.user.UserExtMapper">


    <select id="getAccountList" resultType="com.newtouch.uctp.module.system.controller.admin.auth.vo.AddAccountRespVO">
        select
            su.id  id,
            su.nickname name,
            su.mobile phone,
            uue.ID_CARD idCard,
            su.status status,
            uue.STATUS registStatus,
            su.dept_id deptId,
            su.tenant_id tenantId
        from
            system_users su
                left join uctp_user_ext uue on
                uue.USER_ID = su.id
        where
            su.dept_id =#{deptId}
            and su.status in(0,1) and su.deleted=0
    </select>

</mapper>
