<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.uctp.module.business.dal.mysql.ContractMapper">
    <select id="getContractInfo" resultType="com.newtouch.uctp.module.business.controller.app.carInfo.vo.AppContractarVO">
        select
            ucm.CAR_ID as carID,
            ucm.NUMBER as contractID,
            ucm.NAME as contractName,
            ucm.CONTRACT_TYPE as contractType,
            ucm.STATUS ,
            ucid.collection
        from uctp_contract_management ucm left join uctp_car_info_details ucid
        on ucid.CAR_ID =ucm.CAR_ID
        where ucm.CAR_ID=#{carID}
    </select>



    <update id="updateContractStatas" parameterType="map">
        update
            uctp_contract_management set STATUS='2'
        where NUMBER=#{vo.contractID}
    </update>


    <select id="getContractIds" resultType="com.newtouch.uctp.module.business.controller.app.carInfo.vo.CarDCVo">


        select
            ubf.id as longId,
            ucm.number as contractID
         from uctp_contract_management ucm inner join uctp_business_file ubf
         on ucm.NUMBER =ubf.MAIN_ID
         where ucm.NUMBER =#{contractID}
    </select>
    <select id="getContractOneBuyType" resultType="com.newtouch.uctp.module.business.dal.dataobject.ContractDO">
        select
            CAR_ID as            carId
            ,CONTRACT_ID as            contractId
            ,CONTRACT_NAME as            contractName
            ,FIRST_PARTY as            firstParty
            ,SECOND_PARTY as            secondParty
            ,SIGN_UP_AMOUNT as            signUpAmount
            ,STATUS
            ,CONTRACT_TYPE as            contractType
            ,TENANT_ID as            tenantId
            ,CREATOR
            ,CREATE_TIME as            createTime
            ,SIGNING_DATE as            signingDate
            ,UPDATER as            updater
            ,UPDATE_TIME as            updateTime
            ,BUSINESS_ID as            businessId
            ,DELETED
         from uctp_contract
         where CAR_ID =#{carId} and CONTRACT_TYPE=#{contractType} and STATUS in('0','1','2')
    </select>

</mapper>