<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newtouch.uctp.module.business.dal.mysql.MerchantCashMapper">

    <resultMap id="BaseResultMap" type="com.newtouch.uctp.module.business.dal.dataobject.cash.MerchantCashDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account_id" property="accountId"/>
        <result column="account_no" property="accountNo"/>
        <result column="pay_channel" property="payChannel"/>
        <result column="profit_loss_type" property="profitLossType"/>
        <result column="tran_record_no" property="tranRecordNo"/>
        <result column="pay_amount"  property="payAmount"/>
        <result column="trade_type" property="tradeType"/>
        <result column="trade_to" property="tradeTo"/>
        <result column="contract_no" property="contractNo"/>
        <result column="account_balance" property="accountBalance"/>
        <result column="revision" property="revision"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="updater" property="updater"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        account_id,
        account_no,
        pay_channel,
        profit_loss_type,
        tran_record_no,
        pay_amount,
        trade_type,
        trade_to,
        contract_no,
        account_balance,
        revision,
        creator,
        create_time,
        updater,
        update_time,
        deleted
    </sql>

    <select id="queryContractNoAmount" resultMap="BaseResultMap">
        select account_no,
        sum(pay_amount) as pay_amount
        from uctp_merchant_cash
        where contract_no = #{contractNo}
        and trade_type in
        <foreach collection="tradeTypes" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        group by contract_no
    </select>

    <select id="selectAppHomePage"
            resultType="com.newtouch.uctp.module.business.controller.app.account.cash.vo.MerchantCashRespVo">
        select
        umc.*,
        uci.VIN vin,
        uc.CODE contractCode,
        uci.id carId
        from
        uctp_merchant_cash umc
        left join uctp_contract uc on uc.CONTRACT_ID  =umc .contract_no
        left join uctp_car_info uci on uc.CAR_ID =uci.ID
        <where>
            umc.DELETED = 0
            and umc.account_no=#{merchantCashReq.accountNo}
            <if test="merchantCashReq.getType() == 2  ">
                and umc.trade_type in ( #{param} )
            </if>
            <if test="merchantCashReq.getType() == 3 ||merchantCashReq.getType() == 4">
                and umc.profit_loss_type in ( #{param} )
            </if>
        </where>
        order by umc.CREATE_TIME desc
    </select>
</mapper>
