<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.uctp.module.business.dal.mysql.NoticeMapper">

    <select id="getNotices" resultType="com.newtouch.uctp.module.business.dal.dataobject.NoticeInfoDO" >
        select
            ID
            ,TITLE
            ,CONTENT
            ,TYPE
            ,PHONE
            ,BUSINESS_ID as businessId
            ,TENANT_ID as tenantId
            ,CREATOR as creator
            ,CREATE_TIME as createTime
            ,UPDATER as updater
            ,UPDATE_TIME as updateTime
            ,status
            ,url
        from uctp_notice
        where BUSINESS_ID=#{businessID} and type='0' and status in ('1','0') order by CREATE_TIME DESC
    </select>

    <select id="getUnreadNoticeCount"  resultType="int">
        select
            count(1)
        from uctp_notice
        where BUSINESS_ID=#{businessID} and PUSH_STATUS='0' and status ='0'
    </select>




    <update id="updateNoticeStatus" parameterType="map">
        update
            uctp_notice set STATUS='1'
        where id=#{vo.id}
    </update>

   <update id="updateAllNoticeStatus" >
        update
            uctp_notice set STATUS='1'
            where id in(${id})
    </update>

   <update id="deleteAllNoticeStatus" >
        update
            uctp_notice set STATUS='-1'
            where id in(${id})
    </update>


</mapper>