<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.uctp.module.business.dal.mysql.NoticeMapper">

    <select id="getNotices" resultType="com.newtouch.uctp.module.business.dal.dataobject.NoticeInfoDO" >
        select
            ID
            ,TITLE
            ,CONTENT
            ,TYPE
            ,PHONE
            ,BUSINESS_ID as businessId
            ,TENANT_ID as tenantId
            ,CREATED_BY as creator
            ,CREATED_TIME as createTime
            ,UPDATED_BY as updater
            ,UPDATED_TIME as updateTime
            ,status
        from uctp_notice
    </select>

    <update id="updateNoticeStatus" parameterType="map">
        update
            uctp_notice set STATUS='1'
        where id=#{vo.id}
    </update>

   <update id="updateAllNoticeStatus" >
        update
            uctp_notice set STATUS='1'
            where id in(${id})
    </update>

   <delete id="updateAllNoticeStatus" >
        delete from uctp_notice
            where id in(${id})
    </delete>


</mapper>