<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newtouch.uctp.module.bpm.dal.mysql.dept.DeptMapper">

    <delete id="deleteDept">
        delete from system_dept
        where id=#{id};
    </delete>

</mapper>